.icebaker {
  text-align: center;
}

.profile {
  text-align: center;
  margin: 3em 0;
}

.profile-picture {
  width: 133px;
  height: 133px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: rgb(0 0 0 / 100%) 0px 4px 15px;
  background: #fff;
}

.profile .address {
  max-width: 18em;
  margin: 1em auto 0 auto;
}

.adresses .input-group-text {
  width: 7em;
  text-align: center;
  display: inline-block;
}

.adresses {
  max-width: 40em;
  margin: 3em auto 0 auto;
}

.address {
  margin: 1em 0;
}

.adresses h2 {
  font-size: 1.5em;
  font-family: monospace;
}

.address input {
  font-family: monospace;
  font-size: 0.8em;
  
  letter-spacing: 0.1em;
  text-align: center;
}

.profile input, .profile input:focus {
  color: #ff3390;
}

.lightning input, .lightning input:focus {
  color: #4cc9f0;
}

.wallets input, .wallets input:focus {
  color: #f6e837;
}

footer {
  margin: 4em auto 4em auto;
}

footer p {
  font-style: italic;
  color: rgb(158, 158, 158);
}