html, body {
  background: #222;
}

.icebaker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile {
  text-align: center;
}

.profile-picture {
  width: 133px;
  height: 133px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: rgb(0 0 0 / 100%) 0px 4px 15px;
  background: #fff;
  margin-bottom: 1em;
}

.account {
  font-family: monospace;
  font-size: 0.8em;
  color: #f72585;
  letter-spacing: 0.1em;
}
